/* src/app/components/QuickLinks.module.css */

.quickLinksContainer {
  background-color: #eaf0ff;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #d4e1ff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}

.linksContainer {
  display: flex;
  flex-direction: column;
}

.linkCard {
  display: flex;
  flex-direction: column;
  text-decoration: none; /* Remove underline from links */
  color: inherit; /* Inherit text color from parent */
  padding: 15px;
  border-radius: 8px;
  background-color: #f9f9fb; /* Example background color */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
  cursor: pointer; /* Ensure the cursor changes */
}

.linkCard:hover {
  transform: scale(1.05);
  background-color: #e0e0e0;
}

.icon {
  margin-bottom: 10px;
}

.icon img {
  width: 30px; /* Smaller icon size */
  height: 30px;
}

.h3 {
  font-size: 16px; /* Smaller heading font */
  font-weight: bold;
  margin: 8px 0;
  cursor: pointer; /* Change cursor to pointer for the h3 */
}

.p {
  font-size: 12px; /* Smaller paragraph font */
  color: #666;
}
